@{
    ViewBag.Title = "主页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .summary{
        cursor:pointer;
    }
</style>

<!-- Content Header (Page header) -->

<section class="content-header">
    <h1>
        校园概览&ensp;<button class="btn btn-default btn-sm" id="refresh"><i class="fa fa-refresh fa-lg"></i></button>
        @*&ensp;<button class="btn btn-default btn-sm" id="testBtn">Test</button>*@
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home" style="color:#007bff!important;"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li class="breadcrumb-item active"><a href="#">校园概览</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row hidden-uty" id="noticeDiv" >
        <div class="box" style="width:100%!important;">
            <div class="box-header with-border bg-pale-warning">
                <h5 class="box-title">通知&ensp; <i class="fa fa-bullhorn"></i></h5>
                <ul class="box-controls pull-right">
                    <li><a class="box-btn-close" href="#"></a></li>
                    <li><a class="box-btn-slide" href="#"></a></li>
                    <li><a class="box-btn-fullscreen" href="#"></a></li>
                </ul>
            </div>
            <div class="box-body">
                <p>这里可以发布通知</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="box box-body">
                    <h4 class="text-uppercase">校园统计</h4>
                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                            <div class="box box-body summary" onclick="window.location.href='/SchoolRelated/Student';">
                                <h6 class="text-uppercase">学生人数</h6>
                                <div class="flexbox mt-2">
                                    <span class="glyphicon glyphicon-education text-danger font-size-30"></span>
                                    <span class="font-size-40" id="stuCount">0</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <div class="box box-body summary" onclick="window.location.href='/SchoolRelated/Class';">
                                <h6 class="text-uppercase">班级数</h6>
                                <div class="flexbox mt-2">
                                    <span class="glyphicon glyphicon-blackboard font-size-30 text-primary"></span>
                                    <span class="font-size-40" id="classCount">0</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <div class="box box-body summary" onclick="window.location.href='/SchoolRelated/Staff';">
                                <h6 class="text-uppercase">职工人数</h6>
                                <div class="flexbox mt-2">
                                    <span class="glyphicon glyphicon-user  text-purple font-size-30"></span>
                                    <span class="font-size-40" id="staffCount">0</span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="box box-body">
                    <h4 class="text-uppercase">班级考勤统计</h4>
                    <div class="">
                        <table class="table table-hover text-center">
                            <thead>
                                <tr>
                                    <th>班级</th>
                                    <th>总人数</th>
                                    <th>在校</th>
                                    <th>离校</th>
                                    <th>未签到</th>
                                    <th>详情</th>
                                </tr>
                            </thead>
                            <tbody id="objListTable">
                                <tr><td colspan='6'>未找到数据</td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div class="col-12">
                    <div class="box box-body">
                        <h6 class="text-uppercase">设备状况</h6>
                        <div class="flexbox mt-2">
                            <span class="glyphicon glyphicon-wrench  text-action font-size-14"></span>
                            <span class="font-size-14">在线</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="box box-body">
                        <h6 class="text-uppercase">联系陪绮</h6>
                        <div class="flexbox mt-2">
                            <span class="fa fa-phone text-action"></span>
                            <span class="font-size-14">2882429</span>
                        </div>
                        <div class="flexbox mt-2">
                            <span class="fa fa-qq text-danger text-action"></span>
                            <span class="">845806154</span>
                        </div>
                        <div class="flexbox mt-2">
                            <span class="fa fa-wechat text-green text-action"></span>
                            <span class="">845806154</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="box box-body">
                        <h6 class="text-uppercase">常见问题</h6>
                        <div class="flexbox mt-2">
                            <a href="#">网页打开显示"网络开小差了"</a>
                        </div>
                        <div class="flexbox mt-2">
                            <a href="#">设备离线</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<!-- /.content -->

<script>
    $(".sidebar-menu").children().eq(2).addClass("active");

    //刷新
    $("#refresh").click(function () {
        getSchoolInfo();
        getClassesAttNow();
    })

    //Test Btn
    $("#testBtn").click(function () {
        $.ajax({
            url: "/Home/Test",
            type: "GET",
            success: function (result) {
                if (result.code == 1) {

                }
                else {
                    handleAjaxErr(result);
                }
            },
            error: function () {
                swal({ title: "", text: "网络开小差了", type: "warning", timer: 2000, showConfirmButton: false });
            }
        })
    })

    
    getSchoolInfo();
    getClassesAttNow();



    //获取学校概览数据
    function getSchoolInfo() {
        $.ajax({
            url: "/Home/GetSchoolData",
            type: "GET",
            success: function (result) {
                if (result.code == 1) {
                    var schoolJson = JSON.parse(result.content);
                    $("#stuCount").html(schoolJson.stuCount);
                    $("#staffCount").html(schoolJson.staffCount);
                    $("#classCount").html(schoolJson.classCount);
                }
                else {
                    //handleAjaxErr(result);
                }
            },
            error: function () {
                swal({ title: "", text: "网络开小差了", type: "warning", timer: 2000, showConfirmButton: false });
            }
        })
    }


    //获取所有班级统计数据
    function getClassesAttNow() {
        $("#objListTable").empty();
        $.ajax({
            url: "/AttendanceRelated/StudentAtt/GetClassesAttNow",
            type: "GET",
            //async: false,
            success: function (result) {
                if (result.code == 1) {
                    // var jsonRes = JSON.parse(result.content);
                    $("#objListTable").html(result.content);
                }
                else {
                    //handleAjaxErr(result);
                }
            },
            error: function () {
                swal({ title: "", text: "网络开小差了", type: "warning", timer: 2000, showConfirmButton: false });
            }
        })
    }

    //学生考勤详情
    function classAttDetail(id) {
        //GoToPage("", "/AttendanceRelated/StudentAtt/StuAttNowById?classId="+id);
        window.location.href = "/AttendanceRelated/StudentAtt/StuAttNowById?classId=" + id;
    }
</script>