
@{
    ViewBag.Title = "Index_SchoolDetail";
    Layout = "~/Areas/AdminRelated/Views/Shared/Admin_Layout.cshtml";
}
@model ModelSchoolDetail

<style>
    .publicAppDiv input{
        width:60%;
    }
</style>
<section class="content-header">
    <h1>
        园所详情@*&ensp;<button class="btn btn-default btn-sm" id="refresh"><i class="fa fa-refresh fa-lg"></i></button>*@&ensp;<button class="btn btn-default btn-sm" id="backBtn"><i class="fa fa-reply fa-lg"></i></button>
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#"><i class="fa fa-dashboard"></i> 管理主页</a></li>
        <li class="breadcrumb-item active"><a href="#">园所详情</a></li>
    </ol>
</section>

<section>
    <div class="row">
        <div class="col-md-9">
            <div class="row margin">
                <div class="box box-body">
                    <h2 class="text-pink">@Model.School.SchoolName</h2>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-9">
                                <p>账号：@Model.School.Username</p>
                                <p>密码：@Model.School.Password</p>
                                <p>类型：@{var type = ((SchoolType)Model.School.Type).ToString();}@type</p>
                                <p>状态：@{var status = ((SchoolStatus)Model.School.Status).ToString();}@status</p>
                                <p>联系方式：@Model.School.ContactInfo</p>
                                <p>地址：@Model.School.Address</p>
                                <p>创建时间：@Model.School.CreateTime</p>
                            </div>
                            <div class="col-3 text-center">
                                @{
                                    if (Model.School.AvatarPic.Length > 10)
                                    {
                                        <img id="schoolAvaImg" src="@Model.School.AvatarPic" />
                                    }
                                }

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row margin">
                <div class="box box-body publicAppDiv">
                    <label class="font-weight-bold">关联公众号</label>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-10">
                                @{
                                    if (Model.WxPubInfo == null)
                                    {
                                        <div class="margin">
                                            <span class="text-warning">未关联公众号</span>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="margin">
                                            AppId：@Model.WxPubInfo.AppId
                                        </div>
                                        <div class="margin">
                                            AppName：@Model.WxPubInfo.AppName
                                        </div>
                                        <div class="margin">
                                            AppSecret：@Model.WxPubInfo.AppSecret
                                        </div>
                                        <div class="margin">
                                            AccessToken：@Model.WxPubInfo.AccessToken
                                        </div>
                                        <div class="margin">
                                            JsApiTicket：@Model.WxPubInfo.JsApiTicket
                                        </div>
                                        <div class="margin">
                                            上次更新时间：@Model.WxPubInfo.UpdateTime
                                        </div>
                                    }
                                }
                            </div>
                            <div class="col-md-2">
                                <div style="margin-top:-30px;margin-bottom:5px;">
                                    <span class="span-as-btn" onclick="bindWxPub(1);">关联陪绮公众号</span>
                                </div>
                                <div class="">
                                    <span class="span-as-btn" data-toggle="modal" data-target="#wxPubModal">使用学校公众号</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="wxPubModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <label>关联学校自有公众号</label>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="appIdIpt">AppId</label><span class="text-danger glyphicon glyphicon-asterisk"></span>
                                            <input type="text" class="form-control" id="appIdIpt">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="appNameIpt">AppName</label><span class="text-danger glyphicon glyphicon-asterisk"></span>
                                            <input type="text" class="form-control" id="appNameIpt">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="appSecretIpt">AppSecret</label><span class="text-danger glyphicon glyphicon-asterisk"></span>
                                            <input type="text" class="form-control" id="appSecretIpt">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="attRetTempIdIpt">考勤结果通知模板ID</label><span class="text-danger glyphicon glyphicon-asterisk"></span>
                                            <input type="text" class="form-control" id="attRetTempIdIpt">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary float-right" onclick="bindWxPub(2);">保存</button>
                            </div>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row margin">
                <div class="box box-body">
                    <label class="font-weight-bold">数据统计</label>
                    <div class="box-body">
                        <p>学生总计：@Model.TotalStudent  &ensp;人</p>
                        <p>职员总计：@Model.TotalStaff &ensp;位</p>
                        <p>班级总计：@Model.TotalClass &ensp;个</p>
                        <p>办卡总计：@Model.TotalCard &ensp;张</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    //返回
    $("#backBtn").click(function () {
        window.location.href = "/AdminRelated/Admin/AdminMng";
    })
    //初始化
        $("#adminMngLi").addClass('active');

    function bindWxPub(type) {
        jsonStr = "";
        if (type == 2) {//绑定学校自己公众号
            var appId = $("#appIdIpt").val().trim();
            var appName = $("#appNameIpt").val().trim();
            var appSecret = $("#appSecretIpt").val().trim();
            var attRetTempId = $("#attRetTempIdIpt").val().trim();
            if (appId.length < 6 || appName.length < 1 || appSecret.length < 6 || attRetTempId.length < 6) {
                swal({ title: "", text: "输入有误", type: "warning", timer: 2000, showConfirmButton: false });
                return;
            }

            var json = {
                Type: 2,
                SchoolId: @Model.School.ID,
                AppId: appId,
                AppName: appName,
                AppSecret: appSecret,
                AttRetTempId: attRetTempId,
            }
            jsonStr = JSON.stringify(json);
        }
        $.ajax({
            url: "/AdminRelated/Admin/BindWxPub",
            type: "POST",
            data: {
                type: type,
                schoolId:@Model.School.ID,
                json:jsonStr
            },
            success: function (result) {
                if (result.code == 1) {
                    swal({ title: "", text: "设置成功", type: "success", timer: 700, showConfirmButton: false });
                    $("wxPubModal").modal("hide");
                }
                else {
                    handleAjaxErr(result);
                }
            },
            error: function () {
                swal({ title: "", text: "网络开小差了", type: "warning", timer: 2000, showConfirmButton: false });
            }
        })
    }
</script>

