
@{
    ViewBag.Title = "绑定关联";
    Layout = "~/Areas/WxRelated/Views/Shared/Wx_Layout.cshtml";
}
<style>
    #bindedDiv div{
        width:auto;
        min-width:90px;
        margin:5px;
    }
</style>
<div class="container">
    <div class="row margin">
        <h5 class="box-title">已关联对象</h5>
    </div>
    <div class="row margin">
        <div id="bindedDiv" style="display:flex;text-align:center; flex-wrap:wrap;justify-content: space-between;">
            <div class="box box-body">
                <i class="glyphicon glyphicon-education font-size-40"></i>
                <label>asfaasdfa(学生)</label>
                <button class="btn btn-default btn-xs">解绑</button>
            </div>
            <div class="box box-body">
                <i class="glyphicon glyphicon-user font-size-40"></i>
                <label>asfa(职员)</label>
                <button class="btn btn-default btn-xs">解绑</button>
            </div>
        </div>
    </div>
    <hr />
    <div class="row margin">
        <h5 class="box-title">新建关联</h5>
    </div>
    <div class="row margin form-group">
        <div class="col-4 col-form-label">
            <h4>姓&emsp;名：</h4>
        </div>
        <div class="col-8">
            <input type="text" class="form-control" placeholder="姓名" id="nameIpt" value="" />
        </div>
    </div>
    <div class="row margin form-group">
        <div class="col-4 col-form-label">
            <h4>卡&emsp;号：</h4>
        </div>
        <div class="col-8">
            <input type="text" class="form-control" placeholder="卡号" id="cardNoIpt" value="" />
        </div>
    </div>

    @*<div class="row margin">
            <div class="col-4">
                <div class="vertical-align-middle ">
                    <img class="img-code" title="换一换" id="imgAuthCode" src="/WxRelated/Center/GetCheckCodeImg" ver_colorofnoisepoint="#888888" />
                </div>
            </div>
            <div class="col-8">
                <input type="text" class="form-control" placeholder="输入验证码" id="checkCodeIpt" />
            </div>
        </div>*@
    <div class="row margin" style="height:10px;"></div>

    <div class="row margin">
        <div class="col-12">
            <button class="btn btn-success btn-lg" style="width:100%;" id="submitBtn" disabled="disabled" onclick="doWxBind();">关联</button>
        </div>
    </div>
    <div class="row margin">

    </div>
</div>

<script>
    var glbName = "";
    var glbCardNo = "";
    var gblImgCode = "";
    //$("#imgAuthCode").click(function () {
    //    var time = new Date().getTime();
    //    this.src = document.location.protocol + "/GetCheckCodeImg?time=" + time;
    //})


    //使能输入事件
    $("#cardNoIpt,nameIpt").bind("input propertychange", function () {
        //gblImgCode = $.trim($("#checkCodeIpt").val());
        glbCardNo = $.trim($("#cardNoIpt").val());
        glbName = $.trim($("#nameIpt").val());
        if (glbCardNo.length < 4 || glbName.length<1) {
            $("#submitBtn").attr("disabled", "disabled");
        }
        else {
            $("#submitBtn").attr("disabled", false);
        }
    })

     //已绑定对象相关
    var glbBinded;
    var wxBindedStr=@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.WxBindedJson));
    if (wxBindedStr.length > 6) {
        glbBinded = JSON.parse(wxBindedStr);
        var sb = "";
        var stus = glbBinded.stus;
        if (stus != null && stus.length > 0) {
            for (var i = 0; i < stus.length; i++) {
                sb += '<div class="box box-body">' +
                    '<i class="glyphicon glyphicon-education font-size-40 text-pink" ></i>' +
                    ' <label>' + stus[i].name+'(学生)</label>' +
                    '<button class="btn btn-default btn-xs" onclick="delWxBinded(' + stus[i].type + ',' + stus[i].id+')">解绑</button></div>';
            }
        }
        var staff = glbBinded.staff;
        if (staff != null) {
            sb += '<div class="box box-body">' +
                '<i class="glyphicon glyphicon-education font-size-40" ></i>' +
                ' <label>' + staff.name + '(职员)</label>' +
                '<button class="btn btn-default btn-xs" onclick="delWxBinded(' + staff.type + ',' + staff.id + ')">解绑</button></div>';
        }
        $("#bindedDiv").html(sb);
    }
    else {
        $("#bindedDiv").html("无");
    }
    //解除绑定
    function delWxBinded(type, id) {
        swal({
            title: "",
            text: "确定要解除关联吗？",
            type: "warning",
            showCancelButton: true,
            confirmButtonText: "是",
            cancelButtonText: "否",
            closeOnConfirm: false,
            //closeOnCancel:false
        }, function () {
            $.ajax({
                url: "/WxRelated/Center/DelWxBinded",
                type: "POST",
                data: {
                    "type": type,
                    "id": id,
                },
                success: function (result) {
                    if (result.code == 1) {
                        swal({ title: "", text: "操作成功", type: "success", timer: 700, showConfirmButton: false });
                    }
                    else if (typeof (result) == 'string' && result.indexOf("redirectUrl") >= 0) {
                        window.location.href = result.split(',')[1];
                    }
                    else if (typeof (result) == 'string' && result.indexOf("错误") >= 0) {
                        swal({ title: "", text: "发生错误", type: "error", timer: 2000, showConfirmButton: false });
                    }
                    else {
                        swal({ title: "", text: "操作失败", type: "warning" });
                    }
                },
                error: function () {
                    swal({ title: "", text: "网络开小差了", type: "warning", timer: 2000, showConfirmButton: false });
                }
            })
        })

       
    }

    //绑定关联卡
    function doWxBind() {

        $.ajax({
            url: "/WxRelated/Center/DoWxBind",
            type: "POST",
            data: {
                "name": glbName,
                "cardNo": glbCardNo,
                "imgCode": gblImgCode
            },
            success: function (result) {
                if (result.code == 1) {
                    swal({ title: "", text: "绑定成功", type: "success", timer: 700, showConfirmButton: false });
                }
                else if (typeof (result) == 'string' && result.indexOf("redirectUrl") >= 0) {
                    window.location.href = result.split(',')[1];
                }
                else if (typeof (result) == 'string' && result.indexOf("错误") >= 0) {
                    swal({ title: "", text: "发生错误", type: "error", timer: 2000, showConfirmButton: false });
                }
                else {
                    swal({ title: "", text: result.errMsg, type: "warning" });
                }
            },
            error: function () {
                swal({ title: "", text: "网络开小差了", type: "warning", timer: 2000, showConfirmButton: false });
            }
        })
    }


</script>
